# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment folder
# This is the most important one to ignore
venv/
.venv/

# Project-specific generated data
# We don't want to upload the large index to GitHub
faiss_index/

# IDE and editor specific files
.vscode/
.idea/

# Environment variables file (if you use one in the future)
.env

# OS-specific files
.DS_Store
Thumbs.db